/* src/index.css */
* {
  box-sizing: border-box !important;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  background-color: #000;
}

/* Αυτό θα "μαντρώσει" το Grid που ξεφεύγει */
.MuiGrid-container {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Αυτό θα αναγκάσει τις κάρτες να μην σπρώχνουν το πλάτος */
.MuiGrid-item {
  width: 100% !important;
  max-width: 100% !important;
}